<!DOCTYPE html>
<html lang="en" class="h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/stylesheet/style.css" /> -->
    <script src="/javascript/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body >
    <div class="w-full min-h-screen  bg-zinc-900 p-10 text-white ">
  
        <a href="/" class="text-blue-500 inline-block mb-10 text-lg">Back To Home</a>
      
       <h1 class="font-bold text-2xl mb-10 text-zinc-400 items-center tracking-tighter">Employee's List</h1>

       <div class="users flex flex-wrap gap-5">

        <% users.forEach((user)=> { %>
          <div class="user w-72 p-4 bg-zinc-700 rounded-xl">
            <div class="w-full h-64 rounded-lg">
              <img src="<%=user.image%>" alt="user" class="w-full h-full object-fit-cover rounded-md">
            </div>
            <h2 class="text-xl mt-5 tracking-tighter"><%= user.name%> <span class="ml-3"><%= user.age%></span> </h2>
            <h5 class="text-lg font-bold text-zinc-400"><%= user.role%></h5>
            <h5 class="text-zinc-500"><%= user.email%></h5>
          <div class="mt-8 flex gap-5">
            <a href="/edit/<%= user._id%>" class="text-zinc-400">Edit User</a>
            <a href="/delete/<%= user._id %>" class="text-red-500">Delete User</a>
          </div>
        </div>
        <% })%>

       
       </div>
    </div>
  </body>
</html>
